<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Cutscene Manager</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
    <music> 
      <folder>audio/music/</folder>
      <musicVolumeModifier value="0.3" />
    </music>
   <sfx> 
      <folder>audio/fx/</folder>
      <sfxVolumeModifier value="1" />
    </sfx>
  </audio>

</config>